body {
    background-image: url('pictures/abcd.jpg');
    background-image: url('pictures/bill.png');
    background-image: url('pictures/c.jpg');
    background-image: url('pictures/costvsbenifits.jpg');
    background-image: url('pictures/exp.jpg');
    background-image: url('pictures/img_20211212_134438.jpg');
    background-image: url('pictures/p.jpg');
    background-image: url('pictures/stephen-phillips-hostreviews-co-uk-em37ks8wjjq-unsplash.jpg');
    background-image: url('pictures/towfiqu-barbhuiya-xkarbducuee-unsplash.jpg');
    background-image: url('pictures/wallet.jpg');
    background-image: url('pictures/wallet2.jpg');
    background-image: url('pictures/doller.png');
    background-image: url('pictures/exp_date.jpg');
    background-image: url('pictures/tea.webp');
    background-image: url('pictures/tealaptop.webp');
    background-image: url('pictures/coincal.jpg');
    background-image: url('pictures/inajar.jpg');
}
